@use "../layouts/breakpoints" as *;

.rating {
  font-size: var(--text-xs);
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1em;
  align-items: center;

  span:last-of-type {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
}

.price {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap);
  align-items: center;

  ins {
    font-size: var(--text-xl);
    text-decoration: none;
  }

  del {
    opacity: 0.5;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-underline-offset: -50%;
  }
}

.savings {
  background-color: var(--base-medium);
  padding: 0.2em 0.4em;
  border-radius: var(--radius-s);
}

.delivery {
  display: flex;
  align-items: center;
  gap: var(--gap);

  span:last-of-type {
    font-weight: var(--weight-700);
  }
}

.pagination {
  width: 100%;
  max-width: 100%;

  ul.page-numbers {
    display: flex;
    flex-wrap: wrap;
    @include up(339.98px) {
      flex-wrap: nowrap;
    }
    width: 100%;
    gap: var(--space-m);
    justify-content: center;
    align-items: center;
    margin: var(--space-4xl) 0;
    padding: 0;
    font-weight: var(--weight-700);

    .page-numbers {
      display: grid;
      place-items: center;
      width: var(--text-3xl);
      height: var(--text-3xl);
      overflow: hidden;

      &:not(&.dots) {
        background-color: var(--action-ultra-light);
        border-radius: var(--radius-s);
      }

      &.current {
        background-color: var(--action-medium) !important;
      }

      &:hover:not(&.dots) {
        background-color: var(--action-light);
      }
    }
  }
}
