/* DO NOT TOUCH */
/* DO NOT TOUCH */
@use "../abstracts/workers" as *;

/* CONTAINER WIDTHS */

$containers: (
	container: calc(map-get($container, maxWidth) * 0.1rem),
	container-s: calc(var(--container) * 0.25),
	container-m: calc(var(--container) * 0.5),
	container-l: calc(var(--container) * 0.75),
);

/* CONTAINER ROOT VARIABLES */
@mixin containers {
	@each $container, $value in $containers {
		--#{$container}: #{$value};
	}
}

/*  CONTAINER UTILITY CLASSES */
@mixin container-classes {
	@each $container, $value in $containers {
		.#{$container} {
			max-inline-size: var(--#{$container});
			inline-size: 100%;
			margin-inline: auto;
		}
	}
}
@include container-classes;

section {
	max-inline-size: 100%;
	inline-size: 100%;
	padding-inline: var(--space-xs);
	margin-inline: auto;
}
