/* DO NOT TOUCH */

/* GRID SYSTEM */
$grids: (
	grid-1: repeat(1, minmax(0, 1fr)),
	grid-2: repeat(2, minmax(0, 1fr)),
	grid-3: repeat(3, minmax(0, 1fr)),
	grid-4: repeat(4, minmax(0, 1fr)),
	grid-5: repeat(5, minmax(0, 1fr)),
	grid-6: repeat(6, minmax(0, 1fr)),
	grid-7: repeat(7, minmax(0, 1fr)),
	grid-8: repeat(8, minmax(0, 1fr)),
	grid-9: repeat(9, minmax(0, 1fr)),
	grid-10: repeat(10, minmax(0, 1fr)),
	grid-11: repeat(11, minmax(0, 1fr)),
	grid-12: repeat(12, minmax(0, 1fr)),
	grid-1-2: minmax(0, 1fr) minmax(0, 2fr),
	grid-1-3: minmax(0, 1fr) minmax(0, 3fr),
	grid-2-1: minmax(0, 2fr) minmax(0, 1fr),
	grid-2-3: minmax(0, 2fr) minmax(0, 3fr),
	grid-3-1: minmax(0, 3fr) minmax(0, 1fr),
	grid-3-2: minmax(0, 3fr) minmax(0, 2fr),
	grid-auto-2: repeat(auto-fit, minmax(min(43.6789297659rem, 100vw - 6rem), 1fr)),
	grid-auto-3: repeat(auto-fit, minmax(min(32.7318295739rem, 100vw - 6rem), 1fr)),
	grid-auto-4: repeat(auto-fit, minmax(min(26.1723446894rem, 100vw - 6rem), 1fr)),
	grid-auto-5: repeat(auto-fit, minmax(min(21.8030050083rem, 100vw - 6rem), 1fr)),
	grid-auto-6: repeat(auto-fit, minmax(min(18.6838340486rem, 100vw - 6rem), 1fr)),
);

/* GRID VARIABLES */
@mixin grids {
	@each $grid, $value in $grids {
		--#{$grid}: #{$value};
	}
}

/* GRID UTILITY CLASSES */
@mixin grid-classes {
	@each $map-item, $value in $grids {
		.#{$map-item} {
			display: grid;
			grid-template-columns: var(--#{$map-item});
		}
	}
}
@include grid-classes;

/* COLUMN COUNTS */
@mixin columns {
	@for $i from 1 through 5 {
		.col-#{$i} {
			column-count: #{$i};
		}
	}
}
@include columns;

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}
