@use "../layouts/breakpoints" as *;

#keto-header {
  max-inline-size: 100%;
  inline-size: 100%;
  min-block-size: var(--header-height);
  margin-inline: auto;
  background-position: 50%;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  nav.top-menu {
    display: none;

    @include up($tablet) {
      display: grid;
      grid-template-columns: var(--grid-3);
      grid-template-areas: "socials notifications top-links";
      align-items: center;
      gap: var(--space-m);
      padding-inline: var(--space-s);
      font-size: var(--text-s);
      min-block-size: 3.7rem;
      background-color: var(--alt-trans-6);
      color: var(--action-ultra-dark);
    }

    .social-links {
      grid-area: socials;
      display: flex;
      gap: var(--gap);
    }

    .notifications {
      grid-area: notifications;
      justify-self: center;
    }

    .top-links {
      grid-area: top-links;
      justify-self: flex-end;
      display: flex;
      gap: var(--space-m);
    }
  }

  nav.main-header {
    display: grid;
    grid-template-columns: var(--grid-2);
    grid-template-areas: "logo mobile-menu ";
    align-items: center;
    gap: var(--space-m);
    padding-inline: var(--space-m);

    @include up($tablet) {
      grid-template-columns: var(--grid-3);
      grid-template-areas: "logo main-menu user-links";
    }

    figure.logo-wrapper {
      grid-area: logo;
      max-inline-size: 12rem;
      overflow: hidden;

      .logo {
        width: 100%;
        border-radius: var(--radius-s);
      }
    }

    ul.main-menu {
      display: none;

      @include up($tablet) {
        grid-area: main-menu;
        justify-self: center;
        display: flex;
        align-items: center;
        gap: var(--space-xl);
        padding: 0;
        margin: 0;
        list-style-type: none;
      }

      li {
        max-width: fit-content;
        width: 100%;

        ul.brxe-div.brx-dropdown-content {
          background-color: var(--action-ultra-light);
          gap: 0.8em;
          width: 100%;
          min-width: 30rem;
          left: 50%;
          transform: translateX(-50%);
          padding: 2em;
          box-shadow: var(--shadow-xl) var(--action);
          border-radius: var(--radius-m);

          // Sub-menu divs (2nd, 3rd, etc) before overflow
          li.brxe-dropdown {
            > .brx-dropdown-content {
              left: 25rem;
              top: 0;
              background-color: var(--action-ultra-light);
              gap: 0.8em;
              width: 100%;
              min-width: 30rem;
              padding: 2em;
              box-shadow: var(--shadow-xl) var(--action);
              border-radius: var(--radius-m);
            }
          }
        }

        // Caret SVG
        .brx-submenu-toggle {
          button {
            display: inline-block;

            svg {
              display: inline-block;
              vertical-align: middle;
              max-inline-size: var(--space-m);
            }
          }
        }
      }
    }

    .user-links {
      display: none;

      @include up($tablet) {
        grid-area: user-links;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        gap: var(--space-m);
      }
    }

    .mobile-menu {
      grid-area: mobile-menu;
      justify-self: flex-end;
      display: flex;
      align-items: center;
      gap: var(--space-m);

      @include up($tablet) {
        display: none;
      }

      button {
        display: flex;
        align-items: center;
        padding: var(--gap);
        border: 0;
        border-radius: var(--radius-s);
        width: fit-content;
      }

      .open-menu {
        background-color: var(--action-ultra-light);
      }

      &__wrapper {
        display: none;
      }

      &__backdrop {
        position: fixed;
        inset: 0;
        background-color: var(--black-trans-5);
        z-index: 99;
      }

      &__panel {
        padding: var(--space-m);
        background-color: var(--action-ultra-light);
        width: 85%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        .close-menu {
          position: absolute;
          top: var(--gap);
          right: var(--gap);
          background-color: var(--action-light);
        }

        .social-links {
          display: flex;
          gap: var(--space-m);
        }

        .top-links {
          display: flex;
          flex-direction: column;
          gap: var(--space-m);
        }
      }
    }
  }

  form[role="search"] {
    inline-size: 100%;
    max-inline-size: 32rem;
    display: inline-block !important;

    input[type="search"] {
      width: 100%;
      border: 1px solid var(--grey-2);
      border-radius: var(--gap);
      position: relative;
      min-block-size: 2.5em;
    }

    button[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      min-block-size: 2.5em;
    }
  }

  svg {
    max-inline-size: var(--text-xl);
    max-block-size: var(--text-xl);
  }

  ul {
    list-style-type: none;
  }

  .brxe-shortcode {
    max-inline-size: fit-content;

    .widget.widget-adsw-currency-selector {
      font-size: inherit;
      color: inherit;
      max-width: fit-content;
      position: relative;
      background-color: transparent;

      .adsw-currency-selector-head {
        border: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);

        .current-currency a.currency-item {
          color: var(--action-ultra-dark) !important;
          font-size: inherit !important;
          padding: 0 !important;
          border: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.1em;

          .code,
          .symbol {
            font-weight: 400;
          }
        }

        .currency-carret-wrap a.currency-carret {
          padding-top: 0;
          padding-bottom: 0;
          text-align: center;
          display: block;
          color: var(--action-ultra-dark) !important;

          &::after {
            font-size: var(--text-xl);
            width: auto;
            height: auto;
            vertical-align: middle;
          }
        }
      }

      ul.currency-list {
        top: calc(100% + 4px) !important;
        padding: 0 !important;
        min-inline-size: fit-content;
        inline-size: 100%;
        max-block-size: 15rem;
        background-color: var(--action-ultra-light);
        border: 0 !important;
        color: var(--black);
        box-shadow: var(--shadow-xl) var(--action);

        a.currency-item {
          font-size: inherit;
          padding: var(--gap) var(--space-m) !important;
          border: 0;
          border-top: 1px solid var(--action-trans-1) !important;
          border-bottom: 1px solid var(--action-trans-1) !important;
          color: var(--black) !important;

          .code,
          .symbol {
            font-weight: 400;
          }
        }
      }
    }
  }
}
