@use "../layouts/breakpoints" as *;

#keto-header {
  max-inline-size: 100%;
  inline-size: 100%;
  min-block-size: var(--header-height);
  margin-inline: auto;
  background-position: 50%;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .top-menu {
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: notifications;

    @include up($tablet) {
      display: grid;
      grid-template-columns: var(--grid-3);
      grid-template-areas: "socials notifications top-right";
      align-items: center;
      gap: var(--space-m);
      padding-inline: var(--space-s);
      font-size: var(--text-s);
      min-block-size: 3.7rem;
      background-color: var(--alt-trans-6);
      color: var(--action-ultra-dark);
    }

    nav.socials {
      display: none;

      @include up($tablet) {
        display: inline-block;
        grid-area: socials;

        ul {
          display: flex;
          gap: var(--gap);
        }
      }
    }

    .notifications {
      grid-area: notifications;
      justify-self: center;
    }

    .top-right {
      display: none;

      @include up($tablet) {
        grid-area: top-right;
        justify-self: flex-end;
        display: flex;
        gap: var(--space-m);

        nav.top-links {
          ul {
            display: flex;
            gap: var(--space-m);
          }
        }
      }
    }
  }

  .main-header {
    display: grid;
    grid-template-columns: var(--grid-2);
    grid-template-areas: "logo mobile-menu ";
    align-items: center;
    gap: var(--space-m);
    padding-inline: var(--space-m);

    @include up($tablet) {
      grid-template-columns: var(--grid-3);
      grid-template-areas: "logo main-menu user-menu";
    }

    figure.logo-wrapper {
      grid-area: logo;
      max-inline-size: 12rem;
      overflow: hidden;

      .logo {
        width: 100%;
        border-radius: var(--radius-s);
      }
    }

    nav.main-menu {
      display: none;

      @include up($tablet) {
        grid-area: main-menu;
        justify-self: center;
        display: inline-block;

        ul {
          display: flex;
          align-items: center;
          gap: var(--space-xl);
          padding: 0;
          margin: 0;
        }
      }
    }

    nav.user-menu {
      display: none;

      @include up($tablet) {
        display: inline-block;
        grid-area: user-menu;
        justify-self: flex-end;

        ul {
          display: flex;
          align-items: center;
          gap: var(--space-m);
        }
      }
    }
  }

  .shortcode {
    max-inline-size: fit-content;

    .widget.widget-adsw-currency-selector {
      font-size: inherit;
      color: inherit;
      max-width: fit-content;
      position: relative;
      background-color: transparent;

      .adsw-currency-selector-head {
        border: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);

        .current-currency a.currency-item {
          color: var(--action-ultra-dark) !important;
          font-size: inherit !important;
          padding: 0 !important;
          border: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.1em;

          .code,
          .symbol {
            font-weight: 400;
          }
        }

        .currency-carret-wrap a.currency-carret {
          padding-top: 0;
          padding-bottom: 0;
          text-align: center;
          display: block;
          color: var(--action-ultra-dark) !important;

          &::after {
            font-size: var(--text-xl);
            width: auto;
            height: auto;
            vertical-align: middle;
          }
        }
      }

      ul.currency-list {
        top: calc(100% + 4px) !important;
        padding: 0 !important;
        min-inline-size: fit-content;
        inline-size: 100%;
        max-block-size: 15rem;
        background-color: var(--action-ultra-light);
        border: 0 !important;
        color: var(--black);
        box-shadow: var(--shadow-xl) var(--action);

        a.currency-item {
          font-size: inherit;
          padding: var(--gap) var(--space-m) !important;
          border: 0;
          border-top: 1px solid var(--action-trans-1) !important;
          border-bottom: 1px solid var(--action-trans-1) !important;
          color: var(--black) !important;

          .code,
          .symbol {
            font-weight: 400;
          }
        }
      }
    }
  }

  #mini-cart {
    a {
      span.cart-bag {
        strong {
          position: relative;
          display: inline-block;
          border: 2px solid var(--action);
          border-radius: var(--radius-xs);
          font-weight: 700;
          font-family: Helvetica, Arial, Sans-serif;
          text-align: center;
          vertical-align: middle;
          width: 1.7em;
          height: 1.7em;

          &:after {
            left: 50%;
            bottom: 100%;
            content: " ";
            position: absolute;
            height: 8px;
            width: 14px;
            margin-bottom: 0;
            margin-left: -7px;
            border: 2px solid var(--action);
            border-radius: 10rem;
            border-bottom: 0;
            border-bottom-color: transparent;
            pointer-events: none;
            transition: height 0.1s ease-out;
          }
        }
      }

      &:hover {
        span.cart-bag {
          strong {
            background-color: var(--action);
            color: var(--white);

            &::after {
              height: 1rem;
            }
          }
        }
      }
    }
  }
  svg {
    font-size: var(--text-xl);
  }
}
