main {
	section:not(:first-child) .container {
		padding-block-start: var(--space-4xl);
	}

	.page-hero {
		padding: var(--space-2xl);
		background-color: var(--base);
		border-radius: var(--radius-m);

		.sub-hero {
			display: flex;
			margin-block-start: var(--gap);
			gap: var(--space-xl);
			justify-content: space-between;
			align-items: center;

			select {
				border: 1px solid var(--grey-5);
				border-radius: var(--radius-s);
				padding: var(--gap);
			}
		}
	}
}
