/* BASE SETTINGS */
html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-color: var(--action);
}

body {
	--bg: var(--white);
	--color: var(--black);
	--font-family: var(--base-font);
	--font-weight: var(--weight-400);
	--font-size: var(--text-m);
	--line-height: var(--line-l);

	min-block-size: 100vh;
	background-color: var(--bg);
	background-size: cover;
	color: var(--color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: var(--line-height);
	word-wrap: break-word;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;

	/* OUTLINE */
	:focus,
	button:focus,
	.screen-reader-text:focus,
	.skip:focus {
		--outline-color: var(--grey-5);
		--outline-style: solid;
		--outline-width: 0.2rem;
		--outline-offset: 0.2rem;
		--radius: var(--radius-s);
		--transition: all 300ms ease;
		outline-style: var(--outline-style);
		outline-color: var(--outline-color);
		outline-width: var(--outline-width);
		outline-offset: var(--outline-offset);
		border-radius: var(--radius);
		transition: var(--transition);
	}

	:focus:not(:focus-visible, .screen-reader-text, .skip),
	button:focus:not(:focus-visible, .screen-reader-text, .skip),
	input:active {
		outline: none;
	}

	input:not([type="submit"]),
	select,
	textarea,
	button,
	optgroup,
	::placeholder,
	[type="search"] {
		font: inherit;
		color: inherit;
		transition: inherit;
	}

	[type="search"] {
		appearance: textfield;
	}

	button,
	[role="button"] {
		cursor: pointer;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: inline-block;
		height: auto;
		width: 100%;
		max-width: 100%;
	}

	figure {
		margin: 0;
	}

	table {
		width: 100%;
		max-width: 100%;
	}
}

/* DEFAULT LINKS */
a {
	--display: inline-flex;
	--color: currentColor;
	--text-decoration: none;
	--transition: inherit;

	display: var(--display);
	color: var(--color);
	text-decoration: var(--text-decoration);
	transition: var(--transition);

	&:hover,
	&:active {
		color: var(--color);
	}
}

/* CLICKABLE CARD */
.clickable-card:not(a),
.clickable-card:not(a) a,
a.clickable-card {
	position: static;
}

.clickable-card:not(a) > a:after,
a.clickable-card:after {
	content: "";
	position: absolute;
	inset: 0;
	cursor: pointer;
	display: flex;
}

/* SCREEN READER ACCESSIBLE NO-DISPLAY */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	border: 0 !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
	overflow-wrap: normal !important;
	overflow: hidden !important;
}

.skip {
	--inline-size: 1px;
	--block-size: 1px;
	--padding: 0;
	--margin: -1px;
	--clip: rect(1px, 1px, 1px, 1px);
	--clip-path: inset(50%);
	--bg: transparent;
	--color: inherit;

	position: absolute;
	top: 1rem;
	left: 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
	inline-size: var(--inline-size);
	block-size: var(--block-size);
	padding: var(--padding);
	margin: var(--margin);
	border: 0;
	clip: var(--clip);
	clip-path: var(--clip-path);
	background-color: var(--bg);
	color: var(--color);
	font-size: inherit;
	line-height: normal;
	text-decoration: none;
	white-space: nowrap !important;
	word-wrap: normal !important;
	overflow-wrap: normal !important;
	overflow: hidden !important;
	transition: all 300ms ease;

	&:focus {
		--inline-size: auto;
		--block-size: auto;
		--padding: 1em 1.5em;
		--margin: 0;
		--clip: auto;
		--clip-path: none;
		--bg: var(--white);
		z-index: 9999;
	}
}

/* USER ANIMATION PREFERENCE */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	::before,
	::after {
		animation-delay: -1ms;
		animation-duration: 1ms;
		animation-iteration-count: 1;
		background-attachment: initial;
		scroll-behavior: auto;
		transition-duration: 0s;
		transition-delay: 0s;
	}
}
