/* SPACING SYSTEM */
$spacing: (
	gap: 0.5em,
	space-2xs: var(--text-2xs),
	space-xs: var(--text-xs),
	space-s: var(--text-s),
	space-m: var(--text-m),
	space-l: var(--text-l),
	space-xl: var(--text-xl),
	space-2xl: var(--text-2xl),
	space-3xl: var(--text-3xl),
	space-4xl: var(--text-4xl),
	space-5xl: var(--text-5xl),
);

/* "space-" VARIABLES */
@mixin spaces {
	@each $space, $value in $spacing {
		--#{$space}: #{$value};
	}
}

/* "space-" CLASSES */
@mixin spacing {
	@each $space, $value in $spacing {
		.#{$space} {
			gap: var(--#{$space});
		}
	}
}
@include spacing;

/* PADDING & MARGIN CLASSES */
$px: (
	2xs: var(--space-2xs),
	xs: var(--space-xs),
	s: var(--space-s),
	m: var(--space-m),
	l: var(--space-l),
	xl: var(--space-xl),
	2xl: var(--space-2xl),
	3xl: var(--space-3xl),
	4xl: var(--space-4xl),
	5xl: var(--space-5xl),
);

@mixin px {
	@each $pad, $value in $px {
		.px-#{$pad} {
			padding-inline: #{$value};
		}

		.pt-#{$pad} {
			padding-block-start: #{$value};
		}

		.pb-#{$pad} {
			padding-block-end: #{$value};
		}

		.mx-#{$pad} {
			margin-inline: #{$value};
		}

		.mt-#{$pad} {
			margin-block-start: #{$value};
		}

		.mb-#{$pad} {
			margin-block-end: #{$value};
		}
	}
}
@include px;

// OFFSET MAP
$offsets: (
	offset: 8rem,
	header-height: var(--offset),
	underline-offset: 0.25em,
	underline-thickness: 0.2em,
);

/* OFFSET VARIABLES */
@mixin offsets {
	@each $offset, $value in $offsets {
		--#{$offset}: #{$value};
	}
}

// RADIUS MAP
$radii: (
	radius-xs: 0.25rem,
	radius-s: 0.5rem,
	radius-m: 1rem,
	radius-l: 2rem,
	radius-50: 50%,
	radius-100: 100%,
	radius-full: 999rem,
);

/* "radius-" VARIABLES */
@mixin radii {
	@each $radius, $value in $radii {
		--#{$radius}: #{$value};
	}
}

// SHADOW MAP
$shadows: (
	shadow-xs: 0 0.1rem 0.2rem 0,
	shadow-s: 0 0.2rem 0.5rem,
	shadow-m: 0 0.5rem 1rem 0,
	shadow-l: 0 0.1rem 2rem 0,
	shadow-xl: 0 2rem 4rem -3rem,
	drop-shadow: drop-shadow(0 1px 2px hsl(0 0% 0%/ 0.1)) drop-shadow(0 1px 1px hsl(0 0% 0%/0.06)),
);

/* "shadow-" VARIABLES */
@mixin shadows {
	@each $shadow, $value in $shadows {
		--#{$shadow}: #{$value};
	}
}
