nav.wc-breadcrumb {
  ul {
    display: flex;
    align-items: center;
    gap: 0.25em;
    opacity: 0.35;

    li {
      &:last-child {
        text-decoration: underline;
        text-underline-offset: var(--underline-offset);
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}
