aside.sidebar {
  max-width: 100%;
  width: 100%;
  ul.filters {
    li.filter-item {
      form[role="search"] {
        width: fit-content;

        input[type="search"] {
          background-color: transparent;
          border: 1px solid var(--grey-2);
          border-radius: var(--radius-s);
          overflow: hidden;
          padding: var(--gap);
          position: relative;
        }
      }
    }
  }
}
