/* DO NOT TOUCH */

@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../base/spacing" as *;
@use "../base/utilities" as *;
@use "../components/buttons" as *;
@use "../components/cards" as *;
@use "../layouts/containers" as *;
@use "../layouts/grids" as *;

:root {
	/* COLOR SYSTEM */
	@include colors;

	/* TYPOGRAPHY SYSTEM */
	@include fontFamily;
	@include fluidType;
	@include fontWeights;
	@include lineHeights;

	/* SPACING SYSTEM */
	@include spaces;

	/* GRID SYSTEM */
	@include grids;

	/* UTILITY SYSTEM */
	@include offsets;
	@include containers;
	@include radii;
	@include shadows;
}
