$colors: (
"base": #f9d400,
"base-hover": #fadd33,
"base-ultra-light": #fef9d9,
"base-light": #fef4bf,
"base-medium": #fcec8c,
"base-dark": #a28a00,
"base-ultra-dark": #705f00,
"alt": #e44650,
"alt-hover": #e96b73,
"alt-ultra-light": #fbe3e5,
"alt-light": #f8d1d3,
"alt-medium": #f3acb0,
"alt-dark": #942e34,
"alt-ultra-dark": #671f24,
"action": #004aad,
"action-hover": #336ebd,
"action-ultra-light": #d9e4f3,
"action-light": #bfd2eb,
"action-medium": #8caeda,
"action-dark": #003070,
"action-ultra-dark": #00214e,
"white": #fff,
"grey-1": #e6e6e6,
"grey-2": #cccccc,
"grey-3": #b3b3b3,
"grey-4": #999999,
"grey-5": #808080,
"grey-6": #666666,
"grey-7": #4d4d4d,
"grey-8": #333333,
"grey-9": #191919,
"black": #000
);

$fontSizes: (
minFontSize: 10,
maxFontSize: 80
);
















































































































































$container: (
minWidth: 320,
maxWidth: 1366
);
$fontFamily: (
base-font: Inter
);
